<div class="d-flex justify-content-between">
  <h4>Student list</h4>
  <button class="btn btn-secondary" (click)="goTo()">New</button>
</div>
<div class="mb-3">
  <label for="search" class="form-label">Search</label>
  <input type="text" class="form-control" id="search" placeholder="Search by name" [(ngModel)]="search" (input)="searchByName()"/>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let std of filteredList; let i = index">
      <td>{{ std.name  }}</td>
      <td>{{ std.age | convertAge:'month'}}</td>
      <td>{{ std.email }}</td>
      <td>{{ std.number | currency:'INR': 'code' }}</td>
      <td>
        <button class="btn btn-primary" (click)="deleteStd(std.id)">Delete</button>
        <button class="btn btn-primary ms-2" (click)="goToDetail(std.id)">view</button>
        <button class="btn btn-primary ms-2" (click)="goToUpdate(std.id)">Update</button>
      </td>
    </tr>
  </tbody>
</table>